header{
  height: 80px;
  background-color: #2C3E50;
}
.container-fluid .row:first-child{
  background-color: #1ABC9C;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
main div:first-child img{
  height: 150px;
  margin-top: 20px;
}
main div:first-child span hr{
  width: 120px;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 10px 20px;
  border: 2px solid ;
}
main div:first-child i{
  font-size: 30px;
}
ul{
  padding: 20px 0px;
  font-size: 10px;
}
.PORTFOLIO-sec{
  text-align: center;
  color: #2C3E50;
  font-weight: bold;
}
.IMAGE-sec [class*="col-"] img{
  height: 200px;
}
.IMAGE-sec{
  padding-bottom:40px;
}
